{% extends 'base.html'%}

{% block title%}
    Home
{% endblock %}
{% block content %}
    {% if messages %}
        {%for mes in messages%}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              {{mes}}
            </div>
        {% endfor %}
    {% endif %}
    {% if all_item %}
    <table class="table table-bordered">
        <tr class="table-info">
            <td><b> Item </b></td>
            <td><b> Completetion </b></td>
            <td><b> Delete </b></td>
        </tr>

        {% for i in all_item %}
            {% if i.complete%}
                <tr class="table-danger">
                    <td class="strike"> <a href="{% url 'edit' i.id%}">
                        {{ i.items }} </a>
                    </td>
                    <td> <a href="{% url 'Uncrouss' i.id%}">Uncrouss </a>
                    </td>
                    <td><a href="{% url 'delete' i.id%}">Delete </a></td>
                </tr>
            {% else%}
                <tr class="table-success">
                    <td>
                        <a href="{% url 'edit' i.id%}">
                        {{ i.items }} </a>
                    </td>
                    <td>
                        <a href="{% url 'Croussoff' i.id%}">Croussoff </a>
                    </td>
                    <td><a href="{% url 'delete' i.id%}">Delete </a></td>
                </tr>
            {% endif%}
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}